.u-section-1 {
  min-height: 740px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 740px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 100px;
}

.u-section-1 .u-image-1 {
  width: 416px;
  height: 76px;
  margin: 138px auto 0 166px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 101px 14px 0 152px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 101px 214px 0 134px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 679px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 204px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 77px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
    margin-left: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 699px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 23px;
    padding-left: 146px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 68px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 817px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 951px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 58px;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 618px;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 65px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 96px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 707px;
}

.u-section-3 .u-shape-1 {
  width: 904px;
  height: 376px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: -306px 95px 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 29px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 217px;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 5px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 32px 0 0 10px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-3 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 5px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px 25px 0 5px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px 0 0 10px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-3 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 5px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px 25px 0 5px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px 0 0 10px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 25px;
}

.u-section-3 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 5px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 14px 25px 0 5px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px 0 0 10px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 267px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 300px;
  height: 66px;
  margin: -253px 229px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 346px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    margin-right: 40px;
  }
}